<!DOCTYPE html>
<html>
<head>
  <title>Earthbnb</title>
  <link rel="shortcut icon" href= '<%= image_url('earthbnb.ico') %>' />
  <link href='https://fonts.googleapis.com/css?family=Nunito:300,700,400' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiTF-9_nCIhkSksWO-yeKuVu3Kh41JpRs&libraries=places"></script>

<%= yield %>

</body>
</html>
